---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: subjectpermissions.managed.openshift.io
spec:
  group: managed.openshift.io
  names:
    kind: SubjectPermission
    listKind: SubjectPermissionList
    plural: subjectpermissions
    singular: subjectpermission
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SubjectPermission is the Schema for the subjectpermissions API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized.
              SubjectPermissionSpec defines the desired state of SubjectPermission
            properties:
              clusterPermissions:
                description: List of permissions applied at Cluster scope
                items:
                  type: string
                type: array
              permissions:
                description: List of permissions applied at Namespace scope
                items:
                  description: |-
                    Permission defines a Role that is bound to the Subject
                    Allowed in specific Namespaces
                  properties:
                    clusterRoleName:
                      description: ClusterRoleName to bind to the Subject as a RoleBindings
                        in allowed Namespaces
                      type: string
                    namespacesAllowedRegex:
                      description: NamespacesAllowedRegex representing allowed Namespaces
                      type: string
                    namespacesDeniedRegex:
                      description: NamespacesDeniedRegex representing denied Namespaces
                      type: string
                  required:
                  - clusterRoleName
                  type: object
                type: array
              subjectKind:
                description: |-
                  Important: Run "make" to regenerate code after modifying this file
                  Kind of the Subject that is being granted permissions by the operator
                type: string
              subjectName:
                description: Name of the Subject granted permissions by the operator
                type: string
              subjectNamespace:
                description: Namespace of the Subject granted permissions by the operator
                type: string
            required:
            - subjectKind
            - subjectName
            type: object
          status:
            description: SubjectPermissionStatus defines the observed state of SubjectPermission
            properties:
              conditions:
                description: |-
                  Important: Run "make" to regenerate code after modifying this file
                  List of conditions for the CR
                items:
                  description: Condition defines a single condition of running the
                    operator against an instance of the SubjectPermission CR
                  properties:
                    clusterRoleName:
                      description: ClusterRoleName in which this condition is true
                      items:
                        type: string
                      type: array
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        was active for the CR
                      format: date-time
                      type: string
                    message:
                      description: Message related to the condition
                      type: string
                    state:
                      description: State that this condition represents
                      type: string
                    status:
                      description: Flag to indicate if condition status is currently
                        active
                      type: boolean
                    type:
                      description: Type is the type of the condition
                      type: string
                  required:
                  - lastTransitionTime
                  - state
                  - status
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
