apiVersion: apps/v1
kind: Deployment
metadata:
  name: rbac-permissions-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: rbac-permissions-operator
  template:
    metadata:
      labels:
        name: rbac-permissions-operator
    spec:
      serviceAccountName: rbac-permissions-operator
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/infra
                operator: Exists
            weight: 1
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/infra
          operator: Exists
      containers:
        - name: rbac-permissions-operator
          # Replace this with the built image name
          image: quay.io/app-sre/rbac-permissions-operator:latest
          command:
          - rbac-permissions-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: ""
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "rbac-permissions-operator"
